.home-bg {
  min-height: 100vh;
  background: url("/images/siska-leontyne.jpg") no-repeat center center;
  background-size: cover;

    /* bikin isi ke tengah */
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertikal */
}

.home-bg h1 {
  color: white;
  font-size: 3rem;
}

