name: CI/CD PHP Project (Self Hosted)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy (local)
      run: |
        cd /var/www/html/project-ci
        git pull origin main
